# Data Types and Structures Questions

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data in memory to perform operations efficiently. They are important because they enable optimal data access, processing, and modification — essential for algorithms and applications.

2. Explain the difference between mutable and immutable data types with examples.
  - (a) Mutable: Can be changed after creation.

          Examples: list, dict, set

    (b) Immutable: Cannot be changed after creation.

          Examples: int, float, str, tuple

3.  What are the main differences between lists and tuples in Python?
  -   
  
  (a) Mutability:Lists are mutable, meaning their elements can be changed    after creation (you can add, remove, or update items). In contrast, tuples are immutable, so once they are created, their elements cannot be modified.

  (b) Syntax:Lists are defined using square brackets, like [1, 2, 3], while tuples are defined using parentheses, like (1, 2, 3).

  (c) Performance:Tuples are generally faster than lists when it comes to iteration and access, because they are immutable and fixed in size. Lists are slower because they support dynamic operations such as insertion, deletion, and resizing.
  
  (d) Use Case:Lists are best used when you need a collection of items that may change during program execution. Tuples are suitable when you want a fixed collection of items that should not be modified, such as coordinates, configurations, or constant data.

4.  Describe how dictionaries store data
  - Dictionaries store key-value pairs in a hash table. The key is hashed to an index, and the value is stored at that index for fast retrieval.

5. Why might you use a set instead of a list in Python?
  - Sets:

    Eliminate duplicates automatically.

    Offer faster lookup (O(1) average).

    Use when:

    You need unique elements.

    Membership testing is frequent.

6. What is a string in Python, and how is it different from a list?
  - String: Immutable sequence of characters.

    List: Mutable sequence of any type (including characters).

    Difference: Strings cannot be changed; lists can be.

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, so once created, they can't be altered. This ensures data consistency when passed around functions.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables under the hood for fast access.


9. Can lists contain different data types in Python?
  - Yes. Python lists can contain integers, strings, other lists, etc.

10. Explain why strings are immutable in Python
  - For security, thread-safety, and performance (e.g., string interning). Any operation creates a new string rather than modifying the original.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Faster lookup by keys.

      Meaningful access using key names.

      Better structure for associative data.

12. How do sets handle duplicate values in Python
 - Sets automatically discard duplicate values.

13. Describe a scenario where using a tuple would be preferable over a list?
  - Use a tuple when:

      You want immutable, fixed data.

      As dictionary keys.

      For performance benefits.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In list: Checks if element exists.

      In dict: Checks if key exists (not value).

15. Can you modify the elements of a tuple? Explain why or why not
  - No. Tuples are immutable. You can't change, add, or remove items.

16. What is a nested dictionary, and give an example of its use case?
 - A dictionary with other dictionaries as values:
  example:

  data = {
  "person1": {"name": "Alice", "age": 25},
  "person2": {"name": "Bob", "age": 30}
}


17. Describe the time complexity of accessing elements in a dictionary
  - O(1) on average (thanks to hashing).

18. In what situations are lists preferred over dictionaries?
  - You need to maintain order.

      You care about position/index-based access.

      You want duplicate values.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Before Python 3.7, dicts didn't preserve order. Although they now do, conceptually they're still accessed by key, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval
  - List: Access by index → data[0]

      Dict: Access by key → data["name"]

In [1]:
# Practical Questions

# 1. Write a code to create a string with your name and print it.

name = "Sanchita"
print(name)

Sanchita

In [2]:
# 2. Write a code to find the length of the string "Hello World"

print(len("Hello World"))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

print("Python Programming"[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase

print("hello".upper())

HELLO

In [6]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

print("I like apple".replace("apple", "orange"))

I like orange

In [7]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it

print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [8]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [10]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

print(['a', 'b', 'c', 'd'][1])

b

In [11]:
# 10.  Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [12]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

print((100, 200, 300))

(100, 200, 300)

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

print(('red', 'green', 'blue', 'yellow')[-2])

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

print(min((10, 20, 5, 15)))

5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

print(('dog', 'cat', 'rabbit').index("cat"))

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

In [17]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

print(set(['a', 'b', 'c']))

{'b', 'a', 'c'}

In [18]:
 # 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [22]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d = {"name": "Alice", "age": 25, "city": "Paris"}
print(d)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [26]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [28]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

print([1, 2], (3, 4), {"a": 5})

[1, 2] (3, 4) {'a': 5}

In [29]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[15, 26, 48, 57, 88]

In [30]:
# 28. Write a code to create a list with strings and print the element at the third index.

lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

In [31]:
#  29. Write a code to combine two dictionaries into one and print the result.

d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [32]:
#  30. Write a code to convert a list of strings into a set.

lst = ["apple", "banana", "apple"]
print(set(lst))

{'apple', 'banana'}